{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div>
      <img class="container" src="assets/img/Logo.svg" style= "width: 150px;display: block;" alt="">         
      <h2 class="container" style="display: flex;flex-direction: row;flex-wrap: nowrap; margin-top: 40px; font-weight: 600; color:#212529;">Recuperar contraseña</h2> 
    </div> <!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
  
      <div class="container" data-aos="fade-up" style="padding: 8px;">

        <div class="row mt-5">       

          <div class="col-lg-12 mt-5 mt-lg-0" style="padding:20px; text-align: center;">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
              </div>
              <div class="text-center mt-3"><button type="submit">Enviar</button></div>
              <div class="text-center my-3"><a href="index.html">Cancelar</a></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock %}