{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="input-group mb-3">
        
        <div class="container">
          <div class="search-container">
              <input type="text" class="search-input" placeholder="Buscar un profesor o tema">
              <button class="slider-button">
                <img src="{% static 'assets/public/images/sliders.svg' %}" alt="Icono de busqueda">
              </button>
          </div>
          <div class="filter-buttons">
              <button class="filter-button">Destacados</button>
              <button class="filter-button">Mejor Valorados</button>
              <button class="filter-button">Mejor Precio</button>
          </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <div class="title-container">
      <h2 class="title">Profesores</h2>
    </div>

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container professor-cards mt-3" data-aos="fade-up" style="display:inline-flexbox;">
      
        <div class="professor-card">
          <img class="professor-image" src="{% static 'assets/img/marcos.jpg' %}" alt="Marcos">
          <div class="professor-info">
            <div class="professor-details">
                <h3 class="professor-name">Marcos</h3>
                <p class="professor-rating">★ 4.8</p>
            </div>
              <div class="professor-details">
                <p class="professor-subject">Fisica</p>
                <p class="professor-price">300$</p>
              </div>
              <div class="social-icons">
                <a href="#" class="social-icon">
                  <img src="{% static 'assets/public/images/share.svg' %}" alt="Icono de compartir">
                </a>
                <a href="#" class="social-icon">
                  <img src="{% static 'assets/public/images/calendar-4-week.svg' %}" alt="Icono de calendario">
                </a>
                <a href="#" class="social-icon">
                  <img src="{% static 'assets/public/images/component-2.svg' %}" alt="Icono de corazon">
                </a>
                <a href="#" class="social-icon">
                  <img src="{% static 'assets/public/images/chevron-right.svg' %}" alt="Icono de flecha">
                </a>
            </div>
          </div>
        </div>

        <div class="professor-card">
          <img class="professor-image" src="{% static 'assets/img/sofia.jpg' %}" alt="Sofia">
          <div class="professor-info">
            <div class="professor-details">
              <h3 class="professor-name">Sofia</h3>
              <p class="professor-rating">★ 5.0</p>
            </div>
            <div class="professor-details">
              <p class="professor-subject">Literatura</p>
              <p class="professor-price">320$</p>
            </div>
            <div class="social-icons">
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/share.svg' %}" alt="Icono de compartir">
              </a>
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/calendar-4-week.svg' %}" alt="Icono de calendario">
              </a>
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/component-2.svg' %}" alt="Icono de corazon">
              </a>
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/chevron-right.svg' %}" alt="Icono de flecha">
              </a>
            </div>
          </div>
        </div>

        <div class="professor-card">
          <img class="professor-image" src="{% static 'assets/img/laura.jpg' %}" alt="Laura">
          <div class="professor-info">
            <div class="professor-details">
              <h3 class="professor-name">Laura</h3>
              <p class="professor-rating">★ 3.9</p>
            </div>
            <div class="professor-details">
              <p class="professor-subject">Quimica</p>
              <p class="professor-price">280$</p>
            </div>
            <div class="social-icons">
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/share.svg' %}" alt="Icono de compartir">
              </a>
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/calendar-4-week.svg' %}" alt="Icono de calendario">
              </a>
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/component-2.svg' %}" alt="Icono de corazon">
              </a>
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/chevron-right.svg' %}" alt="Icono de flecha">
              </a>
            </div>
          </div>
        </div>

        <div class="professor-card">
          <img class="professor-image" src="{% static 'assets/img/lautaro.png' %}" alt="Lautaro">
        <div class="professor-info">
          <div class="professor-details">
              <h3 class="professor-name">Lautaro</h3>
              <p class="professor-rating">★ 4.8</p>
          </div>
            <div class="professor-details">
              <p class="professor-subject">Programacion</p>
              <p class="professor-price">300$</p>
            </div>
            <div class="social-icons">
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/share.svg' %}" alt="Icono de compartir">
              </a>
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/calendar-4-week.svg' %}" alt="Icono de calendario">
              </a>
              <a href="#" class="social-icon">
                <img src="/assets/public/images/component-2.svg' %}" alt="Icono de corazon">
              </a>
              <a href="#" class="social-icon">
                <img src="{% static 'assets/public/images/chevron-right.svg' %}" alt="Icono de flecha">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-container">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>  
            </li>
          </ul>
        </nav>
      </div>
    </section><!-- End Trainers Section -->

  {% endblock %}